// Colors
$color-Yellow:#F3A100 !default; 
$color-Onyx:#141414 !default;
$color-Battleship-grey: #868383 !default;
$color-Chrome-Yellow: #FFA902 !default;
$color-White: #FFFFFF !default;
$color-border: #D9D9D9 !default;
$color-Onyx-opacity: #00000080 !default;
$color-black: #141414 !default;

$color-White-opacity: #FFFFFF99 !default;
$color-Forest-Green:#308E21 !default;
$color-Iris: #6A5DC2 !default;
$color-error: #FF7575 !default;

$color-box-shadow :rgba(0, 0, 0, 0.2);
$color-box-shadow-2 : #ffffff54;
$color-Boulder:#777777 !default; 
$color-Fire-Engine-Red:#C82020 !default; 
$color-Heliotrope:#DC5DFC !default;
$color-Maximum-Blue-Purple: #B4A9FF !default; 
// Viewport 
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
$animation-duration: 1.05s;

