*,
*::after,
*::before {
  box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgba(224, 226, 228, 0.527);
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

main {
  flex: 1;
}

img {
  display: block;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

h1,h2,h3,h4,h5,h6,p{
  padding: 0;
  margin: 0;
}